*{
    margin: 0;
    padding: 0;
}

#main {
    display: -webkit-flex;
    display: flex;
}
#left_nav{
    width: 370px;
    border-right: 1px solid #999;
    background-color: #BAE3F9;
    z-index: 100;
    height: 100vh;
}
#content{
    -webkit-flex: 1;
    flex: 1;
    background-color: #fff;
    z-index: 20;
}

#content #workspace_header{
    width: 100%;
    height: 49px;
    border-bottom: 1px solid #999;
}

#content #workspace_header p, #content #workspace_header a{
    padding: 10px;
    display: block;
    background: #88bbff;
    background: linear-gradient(#88bbff, 75%, #446688);
    border: 1px solid #6699FF;
    float: right;
    margin-top: 3px;
    margin-right: 3px;
}

.content_item_wrap {
    margin-left: 20px;
}

.content_item_wrap h1 {
    color: #444;
}

.content_item_wrap h3 {
    width: 94%;
    color: #666;
    padding-bottom: 3px;
    border-bottom: 2px solid #fff;
}

.content_item{
    display: table;
    text-align: center;
    float: left;
    margin-right: 15px;
    width: 99px;
    height: 99px;
    background-color: #4FB7E2;
    border: 1px solid #eee;
    margin-bottom: 15px;
}

.content_item:nth-child(3n){
    margin-left: 0px;
}

.content_item p{
    display: table-cell;
    vertical-align: middle;
    color: #eee;
}

.sortable{
    width: 100%;
    height: 100%;
    position: relative;
}
