@media all and (min-width: 500px) {
    .wrapper {
      display: flex;
    }
  }

.area{
    height: 100vh;
}

#workspace{
    width:80%;
    background-color:gray;
    background-size:cover;
}

#palette{
    width:20%;
    background-color: rgba(255,0,0,0.5);
    background-size:cover;
}